html {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figcaption,
figure,
li,
ol,
ul
dd,
dl {
  margin: 0;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

a {
  text-decoration: none;
}

ul[class],
ol[class] {
  padding: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}